<h2 mat-dialog-title>Bewerk prijs</h2>

<div mat-dialog-content>
    <form [formGroup]="editPriceForm" (ngSubmit)="editPriceSetting()">
        <mat-form-field class="full-width">
            <mat-label>Naam</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Omschrijving</mat-label>
            <input matInput formControlName="description">
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Prijs</mat-label>
            <input type="number" matInput formControlName="price">
        </mat-form-field>
        <mat-checkbox formControlName="fixedPrice">Vaste prijs</mat-checkbox><br/>
        <button mat-raised-button color="primary" type="submit"><mat-icon>save</mat-icon> Opslaan</button>
    </form>
</div>