# The domain used to reach the app. Very important to Django, otherwise it will block all POST requests to CSRF protection
DOMAIN=http://yourdomain.com

# Database name and user. Will be used when creating the database the first time Postgres boots and also as credentials for Django
DBNAME=mydjdatabase
DBUSER=mydjuser
DBPASSWORD=SECUREPASSWORD

# Credentials of the first Django Superuser to be created to login at /admin
DJANGOUSER=admin
DJANGOPASSWORD=TEST123
DJANGOEMAIL=