.content-box {
    margin-top: 300px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    background-color: #f2f2f2;
}

.content-box h1 {
    text-align: center;
    font-size: 40px;
}

.input {
    width: 100%;
}

.form {
  width: 100%;
}