<h1>Feest toevoegen</h1>

<form [formGroup]="addGigForm" (ngSubmit)="addGig()">
    <mat-form-field class="thirth-width">
        <mat-label>Soort feest</mat-label>
        <input matInput formControlName="name">
        <mat-hint>Bruiloft, verjaardagsfeest, gala...</mat-hint>
    </mat-form-field>
    <mat-form-field class="thirth-width">
        <mat-label>Klant</mat-label>
        <input matInput formControlName="client_id">
        <button matSuffix mat-icon-button type="button" (click)="openClientDialog()">
            <mat-icon>search</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field class="thirth-width">
        <mat-label>Locatie</mat-label>
        <input matInput formControlName="location_id">
        <button matSuffix mat-icon-button type="button" (click)="openLocationDialog()">
            <mat-icon>search</mat-icon>
        </button>
        <mat-hint>Locatie waar het feest wordt gehouden</mat-hint>
    </mat-form-field>

    <mat-form-field class="thirth-width">
        <mat-label>Datum</mat-label>
        <input matInput type="date" formControlName="date">
    </mat-form-field>
    <mat-form-field class="thirth-width">
        <mat-label>Start</mat-label>
        <input matInput type="time" formControlName="start">
    </mat-form-field>
    <mat-form-field class="thirth-width">
        <mat-label>Einde</mat-label>
        <input matInput type="time" formControlName="end">
    </mat-form-field>

    <mat-form-field class="half-width">
        <mat-label>Opbouwtijd gereed</mat-label>
        <input matInput type="time" formControlName="buildupReadyTime">
        <mat-hint>Tijd waarop het opbouwen gereed moet zijn</mat-hint>
    </mat-form-field>
    <mat-form-field class="half-width">
        <mat-label>Aantal gasten</mat-label>
        <input matInput type="number" formControlName="guests">
    </mat-form-field>

    <section>
        <mat-checkbox class="full-width" formControlName="sound">Geluid mee</mat-checkbox>
        <mat-checkbox class="full-width" formControlName="light">Licht mee</mat-checkbox>
    </section>

    <mat-form-field class="full-width">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status_id" required>
            <mat-option *ngFor="let status of gigStatusses" [value]="status.id">{{status.name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Notities</mat-label>
        <textarea matInput formControlName="notes"></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit"><mat-icon>save</mat-icon> Toevoegen</button>
</form>