<h1>Klanten</h1>

<p style="text-align: right;">
    <button class="btn btn-success" [routerLink]="['add']" routerLinkActive="router-link-active" >Nieuwe klant</button>
</p>

@if (clients && clients.length > 0) {
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <th scope="col">Naam</th>
                <th scope="col">Contactpersoon</th>
                <th scope="col">E-mailadres</th>
                <th scope="col"></th>
            </thead>
            <tbody>
                @for (client of clients; track client.id) {
                    <tr>
                        <td>{{ client.name }}</td>
                        <td>{{ client.firstName }} {{ client.lastName }}</td>
                        <td>{{ client.email }}</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-link" type="button" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#" [routerLink]="['edit']" [state]="{id: client.id}" routerLinkActive="router-link-active" >Bewerken</a>
                                    <a class="dropdown-item" href="#">Verwijderen</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }   
            </tbody>
        </table>
    </div>
} @else {
    <p>Er zijn geen klanten aanwezig.</p>
}