<h2 mat-dialog-title>Voeg nieuwe status toe</h2>
<mat-dialog-content>
    <form [formGroup]="addGigStatusForm" (ngSubmit)="addStatus()">
        <mat-form-field class="full-width">
            <mat-label>Naam</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Beschrijving</mat-label>
            <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary"><mat-icon>save</mat-icon> Toevoegen</button>
    </form>
</mat-dialog-content>