<div class="card card-primary box">
    <div class="card-header">
        <h1 class="card-title">Verzoekjes</h1>
    </div>

    <div class="card-body">
        <div *ngIf="requestSettings.active; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
                <h2>Welkom op {{ requestSettings.displayName }}!</h2>

                <p style="text-align: right;">
                    <button type="button" class="btn btn-success float-end" [routerLink]="['/request/add']" >
                        <i class="fas fa-plus"></i> Nieuw verzoekje
                    </button>
                </p>

                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <th scope="col">Aanvrager</th>
                            <th scope="col">Artiest</th>
                            <th scope="col">Titel</th>
                            <th scope="col">Bericht</th>
                            <th scope="col">Details</th>
                            <th scope="col">Gedraaid</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let request of requestData">
                                <td>{{ request.requester }}</td>
                                <td>{{ request.artist }}</td>
                                <td>{{ request.title }}</td>
                                <td>{{ request.message | slice:0:50 }}</td>
                                <td>
                                    <button type="button" class="btn btn-dark" data-toggle="modal" [attr.data-target]="'#modal' + request.id">
                                        <i class="fas fa-info-circle"></i>
                                    </button>
                                </td>
                                <td style="text-align: center;">
                                    <div *ngIf="request.completed">
                                        <i class="fas fa-check"></i>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </ng-template>
            <ng-template #elseBlock>
                <p>Er is op dit moment geen verzoekbox actief.</p>
            </ng-template>
        </div>
</div>

<!-- Modals -->
<div *ngFor="let request of requestData">
    <div class="modal" id="modal{{ request.id }}">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Verzoekje</h5>
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="row">
                    <div class="col">
                        Aanvrager
                    </div>
                    <div class="col">
                        {{request.requester}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Nummer
                    </div>
                    <div class="col">
                        {{request.artist}} - {{request.title}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Bericht
                    </div>
                    <div class="col">
                        {{request.message}}
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluiten</button>
        </div>
        </div>
    </div>
    </div>
</div>