<app-header></app-header>

<div class="container">
    <h1>Klanten</h1>

    <p style="text-align: right;"><button class="btn btn-success" (click)="openAddClientModal()"><fa-icon [icon]="faAdd"></fa-icon> Klant toevoegen</button></p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Klantnummer</th>
                <th>Naam</th>
                <th>Contactnaam</th>
                <th>E-mailadres</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let client of pageClients">
                    <td>{{ client.number }}</td>
                    <td>{{ client.name }}</td>
                    <td>{{ client?.contacts[0].first_name }} {{ client?.contacts[0].last_name }}</td>
                    <td>{{ client?.contacts[0].email }}</td>
                    <td><button class="btn" (click)="openEditClientModal(client.id)"><fa-icon [icon]="faEdit"></fa-icon></button></td>
                    <td><button class="btn" (click)="openDeleteClientModal(client.id)"><fa-icon [icon]="faTrash"></fa-icon></button></td>
            </tr>        
        </tbody>
        </table>

        <div class="d-flex justify-content-between p-2">
            <ngb-pagination
                [collectionSize]="collectionSize"
                [(page)]="tablePage"
                [pageSize]="pageSize"
                (pageChange)="refreshClients()"
            ></ngb-pagination>
        </div>
</div>

<app-footer></app-footer>